<template>
    <div class="c-categories">
        <view-header title="Categories">
            <button class="btn btn-primary" @click="startNewCategory()">
                Add category
            </button>
        </view-header>

        <div class="container">
            <div class="row p-3">
                <div class="col-sm mb-4">
                    <h3 class="mb-3">
                        Income
                    </h3>

                    <div class="c-categories-category" v-for="category in incomeCategories" :key="category.id" @click="editCategory(category)">
                        <div class="c-categories-category__icon">
                            <i class=" fa" :class="category.icon"/>
                        </div>
                        <p class="c-categories-category__name">
                            {{ category.name }}
                        </p>
                        <i class="c-categories-category__edit fa fa-pencil"/>
                    </div>
                </div>
                <div class="col-sm mb-5">
                    <h3 class="mb-3">
                        Outcome
                    </h3>

                    <div class="c-categories-category" v-for="category in outcomeCategories" :key="category.id" @click="editCategory(category)">
                        <div class="c-categories-category__icon" :style="{'background-color': category.color}">
                            <i class=" fa" :class="category.icon"/>
                        </div>
                        <p class="c-categories-category__name">
                            {{ category.name }}
                        </p>
                        <i class="c-categories-category__edit fa fa-pencil"/>
                    </div>
                </div>
            </div>
        </div>


        <loading-spinner :show="loadingState"/>

        <category-details-modal
            :category-id="selectedCategoryId"
            :is-open="showCategoryDetails"
            :on-close="() => toggleCategoryDetailsModal(false)"
        />
    </div>
</template>

<script>
    import { mapState, mapActions } from 'vuex';

    // Components
    import ViewHeader from 'Components/view-header.component';
    import LoadingSpinner from 'Components/loading-spinner.component'
    import CategoryDetailsModal from 'Components/category-details-modal.component';

    export default {
        name: "Categories",
        components: {
            ViewHeader,
            LoadingSpinner,
            CategoryDetailsModal
        },
        data() {
            return {
                saving: false,
                showCategoryDetails: false,

                selectedCategoryId: null
            }
        },
        computed: {
            ...mapState('categories', [
                'loadingState',
                'categories'
            ]),

            incomeCategories() {
                return this.categories
                    .filter(category => category.isIncome);
            },

            outcomeCategories() {
                return this.categories
                    .filter(category => !category.isIncome);
            }
        },
        methods: {
            ...mapActions('categories', [
                'saveCategory'
            ]),
            startNewCategory() {
                this.selectedCategoryId = null;
                this.toggleCategoryDetailsModal(true);
            },

            editCategory(category) {
                this.selectedCategoryId = category.id;
                this.toggleCategoryDetailsModal(true)
            },

            toggleCategoryDetailsModal(show) {
                this.showCategoryDetails = typeof show === 'boolean' ? show : !this.showCategoryDetails;
            }
        }
    }
</script>

<style lang="scss">
    @import '../assets/sass/colors';

    .c-categories {
        position: relative;
        color: $lightBlue1;
    }

    .c-categories-category {
        display: flex;
        align-items: center;
        height: 40px;
        margin-top: 0.4rem;
        padding: 0 0.8rem;
        border-radius: 4px;
        background-color: $darkBlue2;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: lighten($darkBlue2, 5%);

            .c-categories-category__edit {
                opacity: 1;
            }
        }

        &__icon {
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $white1;
            background-color: darkgreen;
            border-radius: 50%;
        }

        &__name {
            font-weight: bold;
            color: $white1;
            margin-left: 0.8rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            flex: 1;
        }

        &__edit {
            padding-right: 0.5rem;
            opacity: 0;
            color: $darkBlue2;
            transition: opacity 0.3s;
        }
    }
</style>