<template>
    <div id="c-dashboard">
        <h1>Dashboard</h1>
    </div>
</template>

<script>

    export default {
        name: 'Dashboard',
        components: {}
    }
</script>

<style lang="scss">
    @import '../assets/sass/colors';

    #c-dashboard {
        color: $lightBlue1;
    }
</style>
