<template>
    <div class="c-transactions">
        <view-header title="Transactions">
            <button class="btn btn-primary" @click="startNewTransaction()">
                Add transaction
            </button>
        </view-header>

        <div class="container">

            <!-- Totals -->
            <div class="c-transactions-totals row mt-4 mx-3 p-3">
                <div class="col d-flex flex-column align-items-center">
                    <h5 class="c-transactions-totals__label">
                        Income:
                    </h5>
                    <p class="c-transactions-totals__value">
                        {{ totalIncome }}
                    </p>
                </div>
                <div class="col d-flex flex-column align-items-center">
                    <h5 class="c-transactions-totals__label">
                        Expenses:
                    </h5>
                    <p class="c-transactions-totals__value">
                        {{ totalExpenses }}
                    </p>
                </div>
                <div class="col d-flex flex-column align-items-center">
                    <h5 class="c-transactions-totals__label">
                        Balance:
                    </h5>
                    <p class="c-transactions-totals__value">
                        {{ totalBalance }}
                    </p>
                </div>
            </div>

            <!-- Transactions -->
            <div class="c-transactions-transactions p-3">
                <div class="c-transactions-entry" v-for="transaction in transactions" :key="transaction.id" @click="editTransaction(transaction)">
                    <div class="c-transactions-entry__icon">
                        <i class=" fa" :class="transaction.category.icon"/>
                    </div>
                    <p class="c-transactions-entry__name">
                        {{ transaction.description }}
                    </p>
                    <p class="c-transactions-entry__value">
                        {{ `${transaction.value} €` }}
                    </p>
                </div>
            </div>

        </div>

        <loading-spinner :show="loadingState"/>

        <transaction-details-modal
            :transaction-id="selectedTransactionId"
            :is-open="showTransactionDetails"
            :on-close="() => toggleTransactionDetailsModal(false)"
        />
    </div>
</template>

<script>
    import { mapState, mapGetters } from 'vuex';

    // Components
    import ViewHeader from 'Components/view-header.component';
    import LoadingSpinner from 'Components/loading-spinner.component'
    import TransactionDetailsModal from 'Components/transaction-details-modal.component';

    export default {
        name: "TransactionsView",
        components: {
            ViewHeader,
            LoadingSpinner,
            TransactionDetailsModal
        },
        data() {
            return {
                saving: false,
                showTransactionDetails: false,

                selectedTransactionId: null
            }
        },
        computed: {
            ...mapState('transactions', [
                'loadingState',
                'transactions'
            ]),
            ...mapGetters('categories', [
                'getCategoryById'
            ]),

            transactions() {
                // Populate transaction with category details
                return this.$store.state.transactions.transactions.map(transaction => {
                    const category = this.getCategoryById(transaction.categoryId);

                    return {
                        category,
                        ...transaction
                    }
                });
            },

            totalIncome() {
                return this.transactions
                    .filter(transaction => transaction.category.isIncome)
                    .reduce((accumulator, transaction) => accumulator + transaction.value, 0);
            },

            totalExpenses() {
                return this.transactions
                    .filter(transaction => !transaction.category.isIncome)
                    .reduce((accumulator, transaction) => accumulator + transaction.value, 0);
            },

            totalBalance() {
                return this.totalIncome - this.totalExpenses;
            }
        },
        methods: {
            startNewTransaction() {
                this.selectedTransactionId = null;
                this.toggleTransactionDetailsModal(true);
            },

            editTransaction(transaction) {
                this.selectedTransactionId = transaction.id;
                this.toggleTransactionDetailsModal(true)
            },

            toggleTransactionDetailsModal(show) {
                this.showTransactionDetails = typeof show === 'boolean' ? show : !this.showTransactionDetails;
            }
        }
    }
</script>

<style lang="scss">
    @import '../assets/sass/colors';

    .c-transactions {
        position: relative;
        color: $lightBlue1;
    }

    .c-transactions-totals {
        color: white;
        background-color: $darkBlue2;
        border-radius: 4px;

        .col:not(:first-child) {
            border-left: 2px solid $white3;
        }

        &__label {
            font-size: 1rem;
        }
        &__value {
            font-size: 1.5rem;
        }
    }

    .c-transactions-entry {
        display: flex;
        align-items: center;
        height: 40px;
        margin-top: 0.4rem;
        padding: 0 0.8rem;
        border-radius: 4px;
        background-color: $darkBlue2;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: lighten($darkBlue2, 5%);

            .c-categories-category__edit {
                opacity: 1;
            }
        }

        &__icon {
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $white1;
            background-color: darkgreen;
            border-radius: 50%;
        }

        &__name {
            font-weight: bold;
            color: $white1;
            margin-left: 0.8rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            flex: 1;
        }

        &__value {
            color: $white2;
        }
    }
</style>