<template>
    <div class="c-amount-input">
        <p class="c-amount-input__value">
            {{ displayValue }}
        </p>
        <div class="d-flex">
            <div class="flex-fill">
                <button class="c-amount-input__button" @click="addInput('7')">
                    7
                </button>
            </div>
            <div class="flex-fill">
                <button class="c-amount-input__button" @click="addInput('8')">
                    8
                </button>
            </div>
            <div class="flex-fill">
                <button class="c-amount-input__button" @click="addInput('9')">
                    9
                </button>
            </div>
        </div>
        <div class="d-flex">
            <div class="flex-fill">
                <button class="c-amount-input__button" @click="addInput('4')">
                    4
                </button>
            </div>
            <div class="flex-fill">
                <button class="c-amount-input__button" @click="addInput('5')">
                    5
                </button>
            </div>
            <div class="flex-fill">
                <button class="c-amount-input__button" @click="addInput('6')">
                    6
                </button>
            </div>
        </div>
        <div class="d-flex">
            <div class="flex-fill">
                <button class="c-amount-input__button" @click="addInput('1')">
                    1
                </button>
            </div>
            <div class="flex-fill">
                <button class="c-amount-input__button" @click="addInput('2')">
                    2
                </button>
            </div>
            <div class="flex-fill">
                <button class="c-amount-input__button" @click="addInput('3')">
                    3
                </button>
            </div>
        </div>
        <div class="d-flex">
            <div class="flex-fill">
                <button class="c-amount-input__button" @click="addInput('.')">
                    .
                </button>
            </div>
            <div class="flex-fill">
                <button class="c-amount-input__button" @click="addInput('0')">
                    0
                </button>
            </div>
            <div class="flex-fill">
                <button class="c-amount-input__button" @click="addInput('del')">
                    <i class="fa fa-undo"/>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "AmountInput",
        props: {
            value: {
                type: Number,
                default: null
            }
        },
        data() {
            return {
                displayValue: ''
            }
        },
        watch: {
            value(newValue) {
                if (parseFloat(this.displayValue) !== newValue) {
                    this.displayValue = `${newValue}`;
                }
            }
        },
        methods: {
            addInput(char) {
                let newValue = `${this.displayValue}`;

                // User wants to delete a character
                if (char === 'del') {
                    newValue = newValue.length > 1 ? newValue.substring(0, newValue.length - 1) : '0';
                }
                // User wants to add a dot
                else if (char === '.') {
                    if (newValue.indexOf('.') === -1) {
                        newValue = `${newValue}.`;
                    }
                }
                // User wants to add a number
                else if (newValue.indexOf('.') === -1 || newValue.indexOf('.') > newValue.length - 3) {
                    newValue = newValue === '0' ? char : newValue + char;
                }

                this.$emit('input', newValue.length === 0 ? 0 : parseFloat(newValue));
                this.displayValue = newValue;
            }
        }
    }
</script>

<style lang="scss">
    @import "../assets/sass/colors";

    .c-amount-input {
        &__value {
            width: 100%;
            height: calc(2.25rem + 2px);
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: $white1;
            background-color: $darkBlue2;
            background-clip: padding-box;
            border: 1px solid $darkBlue1;
            border-bottom: 2px solid $darkBlue3;
            border-radius: 0.25rem 0.25rem 0 0;
        }

        &__button {
            width: 100%;
            height: 3rem;
            color: $lightBlue1;
            background-color: $darkBlue2;
            border: 1px solid $darkBlue1;
        }
    }
</style>