<template>
    <modal-container class="c-category-details-modal" :title="modalTitle" :show="isOpen" :on-close="onClose">
        <form>
            <div class="form-group position-relative">
                <label for="category-icon">Icon</label>
                <input id="category-icon" class="form-control" name="icon" type="text" autocomplete="off" v-model="category.icon">
                <span class="c-category-details-modal__icon-sample">
                    <i class="fa" :class="category.icon"/>
                </span>
            </div>
            <div class="form-group position-relative">
                <label for="category-color">Color</label>
                <input id="category-color" class="form-control" name="color" type="text" autocomplete="off" v-model="category.color">
                <span class="c-category-details-modal__color-sample" :style="{'background-color': category.color}"/>
            </div>
            <div class="form-group">
                <label for="category-name">Name</label>
                <input id="category-name" class="form-control" name="name" type="text" autocomplete="off" v-model="category.name">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="category-is-income" v-model="category.isIncome">
                <label class="form-check-label" for="category-is-income">Income</label>
            </div>
        </form>
        <div class="d-flex justify-content-end">
            <button class="btn" @click="onClose">
                Cancel
            </button>
            <button class="btn btn-primary ml-3" @click="save">
                Save
            </button>
        </div>
    </modal-container>
</template>

<script>
    import { mapActions, mapGetters } from 'vuex';

    // Models
    import CategoryModel from 'Models/category.model';

    // Components
    import modalContainer from 'Components/modal-container.component'

    export default {
        name: 'CategoryDetailsModal',
        components: {
            modalContainer
        },
        props: {
            categoryId: {
                type: String,
                default: null
            },
            isOpen: {
                type: Boolean,
                default: false
            },
            onClose: {
                type: Function,
                default: () => {}
            }
        },
        data() {
            return {
                colorOptions: [
                    '#039b51',
                    '#9b8900',
                    '#9b0100',
                    '#004e9b',
                    '#79009b',
                    '#9b5800'
                ],

                category: {},
            }
        },
        computed: {
            ...mapGetters('categories', [
                'getCategoryById'
            ]),

            modalTitle() {
                return this.categoryId === null ? 'Add Category' : this.getCategoryById(this.categoryId).name;
            }
        },
        watch: {
            isOpen(isOpen) {
                if (isOpen) {
                    const selectedCategory = this.categoryId !== null ? this.getCategoryById(this.categoryId) : undefined;
                    this.category = new CategoryModel(selectedCategory);
                }
            }
        },
        methods: {
            ...mapActions('categories', [
                'saveCategory'
            ]),

            save() {
                this.saveCategory({
                    categoryModel: this.category
                });
                this.onClose()
            }
        }
    }
</script>

<style lang="scss">
    @import "../assets/sass/colors";

    .c-category-details-modal {
        &__icon-sample {
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 0.4rem 1rem;
            height: 1.5rem;
            border-radius: 50%;
            color: $white1;
        }

        &__color-sample {
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 0.4rem;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            background-color: $darkBlue2;
        }
    }
</style>
