<template>
    <div class="c-loading-spinner" :class="{'c-loading-spinner--hide': !show}">
        <div class="spinner">
            <div class="rect1"/>
            <div class="rect2"/>
            <div class="rect3"/>
            <div class="rect4"/>
            <div class="rect5"/>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'LoadingSpinner',
        props: {
            show: {
                type: Boolean,
                required: true
            }
        }
    }
</script>

<style lang="scss">
    @import '../assets/sass/colors';

    .c-loading-spinner {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $darkBlue3;
        transition: opacity 0.4s;

        &--hide {
            opacity: 0;
            pointer-events: none;
        }
    }
</style>
