<template>
    <div class="c-modal-container" :class="{show}" @mousedown="onClose">
        <div class="c-modal-container__window">
            <div class="c-modal-container__centered-container container">
                <div class="c-modal-container__content-container" @mousedown.stop="">

                    <div class="d-flex align-items-center p-3">
                        <h3 class="mr-3">
                            {{ title }}
                        </h3>
                        <span class="flex-fill"/>
                        <div class="c-modal-close-button" @click="onClose">
                            <i class="fa fa-times"/>
                        </div>
                    </div>

                    <div class="c-modal-container__content-inner-container p-3">
                        <slot/>
                    </div>

                </div>
            </div>
        </div>

        <div class="c-modal-container__backdrop"/>
    </div>
</template>

<script>
    import $ from 'jquery'

    export default {
        props: {
            title: {
                type: String,
                default: ''
            },
            show: {
                required: true,
                type: Boolean
            },
            onClose: {
                type: Function,
                default: () => {}
            }
        },
        watch: {
            show: function (visible) {
                if (visible) {
                    $('.c-modal-container__content-container').scrollTop(0);
                }
            }
        }
    }
</script>

<style lang="scss">
    @import "../assets/sass/colors";
    @import "../assets/sass/mixins";

    .c-modal-container {
        pointer-events: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        z-index: 100;

        &.show {
            pointer-events: all;

            .c-modal-container__window {
                top: 0;
            }
            .c-modal-container__backdrop {
                opacity: 1;
            }
        }

        &__window {
            position: absolute;
            top: 100vh;
            left: 0;
            right: 0;
            height: 100vh;
            transition: top 0.4s;
            display: flex;
            flex-direction: column;
            z-index: 102;
        }

        &__centered-container {
            margin: auto;
            width: initial;
        }

        &__content-container {
             position: absolute;
             top: 0;
             bottom: 0;
             left: 0;
             right: 0;
             background-color: $darkBlue3;
            overflow: auto;
             transition: margin 0.4s;

             @include  respond-above(lg) {
                 position: relative;
                 border-radius: 4px;
             }

             .c-modal-close-button {
                 position: relative;
                 width: 24px;
                 height: 24px;
                 color: $lightBlue3;
                 cursor: pointer;
                 transition: border-color 0.2s, color 0.2s;

                 &:hover {
                     border-color: $lightBlue1;
                     color: $lightBlue1;
                 }

                 i {
                     position: absolute;
                     top: 3px;
                     left: 6px;
                 }
             }

             .c-modal-container__content-inner-container {
                 min-width: 300px;
             }
         }

        &__backdrop {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            background-color: rgba(#000, 0.5);
            transition: opacity 0.4s;
            z-index: 101;
        }
    }
</style>
