<template>
    <nav class="c-navbar">
        <button class="c-navbar-menu-button" @click="toggleNavigationMenu()">
            <i class="fa fa-bars"/>
        </button>

        <ul class="c-navbar-links" :class="{'c-navbar-links--show': showNavigationMenu}">
            <li class="c-navbar-links__button" @click="toggleNavigationMenu(false)">
                <router-link to="/">
                    <span class="d-block d-lg-none">Dashboard</span>
                    <i class="c-navbar__logo d-none d-lg-block fa fa-balance-scale"/>
                </router-link>
            </li>
            <li class="c-navbar-links__button" @click="toggleNavigationMenu(false)">
                <router-link to="/categories">
                    Categories
                </router-link>
            </li>
            <li class="c-navbar-links__button" @click="toggleNavigationMenu(false)">
                <router-link to="/transactions">
                    Transactions
                </router-link>
            </li>
        </ul>

        <span class="flex-fill"/>

        <div class="c-navbar-user">
            <div class="c-navbar-user__info" v-if="currentUser !== null">
                <img class="c-navbar-user__info-image mr-2" :src="currentUser.photoURL" alt="User image">
                <b class="">{{ currentUser.name }}</b>
            </div>
            <button class="btn btn-secondary" @click="signIn()" v-if="currentUser === null">
                Sign in
            </button>
            <button class="btn btn-secondary" @click="logOut()" v-if="currentUser !== null">
                Logout
            </button>
        </div>
    </nav>
</template>

<script>
    import { mapState, mapActions } from 'vuex'

    export default {
        name: "Navbar",
        data() {
            return {
                showNavigationMenu: false
            }
        },
        computed: {
            ...mapState('auth', [
                'currentUser'
            ])
        },
        methods: {
            ...mapActions('auth', [
                'authenticateUser',
                'terminateUserSession'
            ]),
            signIn() {
                this.authenticateUser();
            },
            logOut() {
                this.terminateUserSession();
            },

            toggleNavigationMenu(show) {
                this.showNavigationMenu = typeof show === 'boolean' ? show : !this.showNavigationMenu;
            }
        }
    }
</script>

<style lang="scss">
    @import "../assets/sass/colors";
    @import "../assets/sass/mixins";

    .c-navbar {
        height: 60px;
        padding-right: 1rem;
        display: flex;
        align-items: center;
        background-color: $darkBlue1;

        &__logo {
            font-size: 28px;
        }
    }

    .c-navbar-menu-button {
        background: none;
        border: none;
        color: $lightBlue1;
        font-size: 2rem;
        padding: 0 1rem;

        @include respond-above(lg) {
            display: none;
        }
    }

    .c-navbar-links {
        position: fixed;
        top: 60px;
        left: -100vw;
        bottom: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        z-index: 1;
        background: $darkBlue1;
        display: flex;
        flex-direction: column;
        list-style: none;
        transition: left 0.4s;

        &--show {
            left: 0;
        }

        &__button {
            display: flex;
            height: inherit;
            transition: background-color 0.4s;
            cursor: pointer;
            font-size: 1.5rem;
            padding: 0.5rem 1rem;
        }

        @include respond-above(lg) {
            position: relative;
            width: auto;
            height: inherit;
            flex-direction: row;
            left: 0;
            top: 0;

            &__button {
                padding: 0;
                font-size: inherit;

                &:not(:first-child) a.router-link-active {
                    border-bottom: solid 3px $lightBlue1;
                }

                &:hover {
                    background-color: lighten($darkBlue1, 5%);

                    a {
                        color: $white1;
                    }
                }

                a {
                    display: flex;
                    align-items: center;
                    font-weight: bold;
                    padding: 3px 1rem 0;
                    color: $lightBlue1;
                    border-bottom: solid 3px transparent;
                    transition: color 0.4s;
                }
            }
        }
    }

    .c-navbar-user {
        display: flex;
        align-items: center;
        color: $white1;

        &__info {
            margin-right: 1rem;
            display: flex;
            align-items: center;
            background-color: transparent;
            border: none;
        }
        &__info-image {
            width: 34px;
            border-radius: 50%;
        }
    }
</style>