<template>
    <div class="c-selectize" :class="{hideSelectedOptions: hideSelectedOptions}">
        <input type="text">
    </div>
</template>

<script>
    //Usage Documentation: https://github.com/selectize/selectize.js/blob/master/docs/usage.md
    //API Documentation: https://github.com/selectize/selectize.js/blob/master/docs/api.md

    import 'selectize/dist/css/selectize.default.css'
    import 'selectize/dist/js/selectize.min'

    import $ from 'jquery'

    export default {
        props: {
            value: {
                type: Object,
                required: true
            },
            settings: {
                type: Object,
                default: () => {},
                required: true
            },
            hideSelectedOptions: {
                type: Boolean,
                default: false
            }
        },
        data() {
            return {
                optionsLoaded: false,
                showPlaceholder: true
            }
        },
        watch: {
            settings: {
                handler: function () {
                    //Only update component if new settings didnt came from onLoad event
                    if (!this.optionsLoaded) {
                        this.initializeSelectize();
                    }
                    else {
                        this.optionsLoaded = false;
                    }
                },
                deep: true
            },
            value: {
                handler (newValue) {
                    let _this = this;

                    //Only reset component if value is different
                    if (_this.getSelectizeElement().selectize.getValue() !== _this.convertValueToString(newValue)) {
                        _this.getSelectizeElement().selectize.setValue(newValue);

                        //Fix for problem with selectize not correctly removing the selected class
                        $(_this.getSelectizeElement()).next('.selectize-control').find('.selectize-dropdown-content').children().each((index, element) => {
                            element = $(element);
                            if (_this.value.indexOf(element.attr('data-value')) === -1) {
                                element.removeClass('selected');
                            }
                        });

                        _this.getSelectizeElement().selectize.refreshOptions();
                    }
                },
                deep: true
            }
        },
        mounted() {
            this.initializeSelectize();
        },
        methods: {
            initializeSelectize() {
                let _this = this;
                let settingsCopy = $.extend({}, this.settings);

                settingsCopy.items = [_this.value];

                //If parent component set onSomething methods, they also need to be called
                let previousOnChange = settingsCopy.onChange;
                settingsCopy.onChange = function (newValue) {
                    _this.onChange(newValue, settingsCopy, previousOnChange);
                };
                let previousOnFocus = settingsCopy.onFocus;
                settingsCopy.onFocus = function () {
                    _this.onFocus();
                    if (typeof previousOnFocus !== 'undefined') previousOnFocus();
                };
                let previousOnBlur = settingsCopy.onBlur;
                settingsCopy.onBlur = function () {
                    _this.onBlur();
                    if (typeof previousOnBlur !== 'undefined') previousOnBlur();
                };
                let previousOnLoad = settingsCopy.onLoad;
                settingsCopy.onLoad = function () {
                    _this.onLoad();
                    if (typeof previousOnLoad !== 'undefined') previousOnLoad();
                };

                let hadFocus = false;
                //Destroy previous instance before creating new one
                if (typeof this.getSelectizeElement().selectize !== 'undefined') {
                    hadFocus = $(this.getSelectizeElement()).next('.selectize-control').find('.selectize-input').hasClass('focus');

                    this.getSelectizeElement().selectize.destroy();
                    $(this.getSelectizeElement()).val('');
                }
                $(this.getSelectizeElement()).selectize(settingsCopy);

                //If component had focus, give it again
                if (hadFocus) {
                    this.getSelectizeElement().selectize.open();
                }
            },

            onLoad() {
                this.optionsLoaded = true;
                this.settings.options = this.getSelectizeOptions();
            },
            onChange(newValue, settings, parentCallback) {
                let _this = this;
                let processedValues = settings.maxItems === 1 ? null : [];
                let selectizeOptions = _this.getSelectizeOptions();

                if (newValue !== '') {
                    processedValues = newValue.split(typeof settings.delimiter !== 'undefined' ? settings.delimiter : ',');
                    processedValues = processedValues.map(function (selectedValue) {
                        let selectedOption = null;

                        selectizeOptions.some(function (option) {
                            let stringifiedValue = selectedValue + '';
                            let stringifiedOption = option[settings.valueField] + '';
                            if (stringifiedValue === stringifiedOption) {
                                selectedOption = option;
                                return true;
                            }
                        });

                        return selectedOption[settings.valueField];
                    });

                    if (settings.maxItems === 1) {
                        processedValues = processedValues[0];
                    }
                }

                _this.$emit('input', processedValues);
                if (typeof parentCallback !== 'undefined') parentCallback(processedValues);
            },
            onFocus() {
                this.showPlaceholder = false;
            },
            onBlur() {
                this.showPlaceholder = true;
            },

            getSelectizeElement() {
                return $(this.$el).children()[0];
            },
            getSelectizeOptions() {
                return Object.values(this.getSelectizeElement().selectize.options)
            },
            convertValueToString(value) {
                if (value === null) {
                    return '';
                }
                if (value.constructor === Array) {
                    return value.join(typeof this.settings.delimiter !== 'undefined' ? this.settings.delimiter : ',');
                }
                else {
                    return value + '';
                }
            }
        }
    }
</script>

<style lang="scss">
    .c-selectize {
        position: relative;

        .selectize-control.loading {

            &:before {
                display: none;
            }

            .selectize-input:before {
                content: "";
                position: absolute;
                display: block !important;
                height: auto;
                top: 7px;
                bottom: auto;
                left: auto;
                right: 14px;
                font-size: 18px;
                font-family: FontAwesome sans-serif;
                animation: fa-spin 2s infinite linear;
            }

        }

        &.hideSelectedOptions {

            .selectize-input {

                .item {
                    display: none;
                }
            }

        }

    }
</style>
