<template>
    <modal-container class="c-transaction-details-modal" title="Transaction Details" :show="isOpen" :on-close="onClose">
        <form>
            <div class="form-group">
                <label for="inputState">Category</label>
                <select id="inputState" class="form-control" v-model="transaction.categoryId">
                    <option v-for="category in categories" :key="category.id" :value="category.id">
                        {{ category.name }}
                    </option>
                </select>
            </div>
            <div class="form-group position-relative">
                <label for="transaction-icon">Description</label>
                <input id="transaction-icon" class="form-control" name="icon" v-model="transaction.description">
            </div>
            <div class="form-group position-relative">
                <label>Date</label>
                <date-picker locale="pt" is-dark v-model="transaction.date"/>
            </div>
            <div class="form-group position-relative">
                <label>Value</label>
                <amount-input v-model="transaction.value"/>
            </div>
        </form>
        <div class="d-flex justify-content-end">
            <button class="btn" @click="onClose">
                Cancel
            </button>
            <button class="btn btn-primary ml-3" @click="save">
                Save
            </button>
        </div>
    </modal-container>
</template>

<script>
    import { mapState, mapActions, mapGetters } from 'vuex';
    import datePicker from 'v-calendar/lib/components/date-picker.umd'

    // Models
    import TransactionModel from 'Models/transaction.model';

    // Components
    import modalContainer from 'Components/modal-container.component';
    import amountInput from 'Components/amount-input.component';

    export default {
        name: 'TransactionDetailsModal',
        components: {
            modalContainer,
            datePicker,
            amountInput
        },
        props: {
            transactionId: {
                type: String,
                default: null
            },
            isOpen: {
                type: Boolean,
                default: false
            },
            onClose: {
                type: Function,
                default: () => {}
            }
        },
        data() {
            return {
                transaction: {},
            }
        },
        computed: {
            ...mapState('categories', [
                'categories'
            ]),
            ...mapGetters('transactions', [
                'getTransactionById'
            ])
        },
        watch: {
            isOpen(isOpen) {
                if (isOpen) {
                    const selectedTransaction = this.transactionId !== null ? this.getTransactionById(this.transactionId) : undefined;
                    this.transaction = new TransactionModel(selectedTransaction);
                }
            }
        },
        methods: {
            ...mapActions('transactions', [
                'saveTransaction'
            ]),

            save() {
                this.saveTransaction({
                    transactionModel: this.transaction
                });
                this.onClose()
            }
        }
    }
</script>

<style lang="scss">
    @import "../assets/sass/colors";

    .c-transaction-details-modal {
        &__icon-sample {
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 0.4rem 1rem;
            height: 1.5rem;
            border-radius: 50%;
            color: $white1;
        }

        &__color-sample {
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 0.4rem;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            background-color: $darkBlue2;
        }
    }
</style>
