<template>
    <div class="c-view-header">
        <h3>
            {{ title }}
        </h3>

        <div class="c-view-header__content">
            <slot></slot>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ViewHeader",
        props: {
            title: {
                type: String,
                required: true
            }
        }
    }
</script>

<style lang="scss">
    @import '../assets/sass/colors';

    .c-view-header {
        display: flex;
        align-items: center;
        background-color: $darkBlue2;
        padding: 1rem;

        &__content {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex: 1
        }
    }
</style>