<template>
    <div id="app">
        <navbar/>

        <transition name="fade" mode="out-in">
            <router-view/>
        </transition>
    </div>
</template>

<script>
    import navbar from './components/navbar.component'

    export default {
        components: {
            navbar
        },
        computed: {
            loadingDone() {
                return !this.$store.state.auth.authenticatingUser
            }
        }
    }
</script>

<style lang="scss">
    @import "assets/sass/base";
    @import "assets/sass/colors";
    @import "assets/sass/mixins";

    body {
        margin: 0;
        background-color: $darkBlue3;
    }

    #app {
        height: 100vh;
        overflow-y: auto;

        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        .fade-enter-active,
        .fade-leave-active {
            transition-duration: 0.3s;
            transition-property: opacity;
            transition-timing-function: ease;
        }

        .fade-enter,
        .fade-leave-active {
            opacity: 0
        }
    }
</style>
