@import "colors";

//Fonts
* {
  font-family: 'Roboto', sans-serif;
}

//Base HTML Changes
h1, h2, h3, h4, h5 {
  font-weight: bold;
}
h1, h2, h3, h4, h5, p {
  margin: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
label {
  font-weight: bold;
}
textarea {
  resize: none;
}
hr {
  margin: 0;
  width: 100%;
  height: 2px;
  background-color: $lightBlue2;
  border: none;
}
a, a:-webkit-any-link {
  text-decoration: none;
}

//Bootstrap Changes
.flex-fill {
  flex: 1 !important;
}
.form-control {
  border-color: $darkBlue1;
  color: $white1;
  background-color: $darkBlue2;

  &[readonly] {
    background-color: $darkBlue2;

    &:focus {
      border-color: $darkBlue1;
      background-color: $darkBlue2;
      box-shadow: none;
    }
  }

  &:focus {
    color: $white1;
    border-color: $lightBlue3;
    background-color: $darkBlue1;
  }
}
.input-group {
  width: auto;

  .input-group-text {
    border-color: $darkBlue1;
    color: $lightBlue1;
    background-color: $darkBlue1;
  }
}

//Selectize Changes
.c-selectize .selectize-control {

  .selectize-input {
    color: $lightBlue1 !important;
    background: $darkBlue2 !important;
    border-color: $darkBlue1 !important;
    box-shadow: none !important;

    &.dropdown-active {
      border-color: #80bdff !important;

      &:before {
        background: #80bdff !important;
      }

      &:after {
        content: "\F0D8" !important;
      }
    }

    &:after {
      content: "\F0D7" !important;
      font-family: FontAwesome;
      border: none !important;
      top: 12px !important;
      right: 20px !important;
      font-size: 16px;
    }

    input {
      color: $lightBlue1 !important;
    }
  }

  .selectize-dropdown {
    color: $lightBlue1 !important;
    background: $darkBlue2 !important;
    border-color: #80bdff !important;

    .active {
      color: $lightBlue1 !important;
      background: $darkBlue1 !important;
    }
  }
}

//Alertify JS Changes
.alertify .dialog div {
  color: $lightBlue1;
  background-color: $darkBlue3;
  border-radius: 6px;
  box-shadow: 0 0 6px 2px $lightBlue3;

  nav button {
    color: $lightBlue1 !important;

    &:hover {
      background-color: $darkBlue1 !important;
    }
  }
}
.alertify-logs {
  z-index: 200;
}

//V-Calendar Changes
.vc-bg-blue-500 {
  background-color: $lightBlue1 !important;
}
.vc-bg-gray-900 {
  background-color: $darkBlue2 !important;
}
